@model List<AcunMedyaPortfolioProject.Models.Project>
@{
    ViewBag.Title = "Project List";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Project List</h2>

<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Proje İsmi</th>
                <th>Kategori İsmi</th>
                <th>Kapak Resmi</th>
                <th>Açıklama</th>
                <th>Proje Linki</th>
                <th>Güncelle</th>
                <th>Kaldır</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model)
            {
                <tr>
                    <td>@project.Id</td>
                    <td>@project.Name</td>
                    <td>@project.Category.Name</td>

                    @if (project.Name == "Portfolyo")
                    {
                        <td><img src="~/sidebar-01/images/istockphoto-1136679371-612x612.jpg" width="100" alt="Kapak Resmi 1" /></td>
                    }
                    else if (project.Name == "SocialSphere")
                    {
                        <td><img src="~/sidebar-01/images/tel.jpg" width="100" alt="Kapak Resmi 2" /></td>
                    }
                    else if (project.Name == "ShopEase")
                    {
                        <td><img src="~/sidebar-01/images/eticaret.jpg" width="100" alt="Kapak Resmi 3" /></td>
                    }

                    <td>@project.Description</td>
                    <td>@project.ProjectLink</td>
                    <td><a href="/Project/UpdateProject/@project.Id" class="btn btn-success">Güncelle</a></td>
                    <td><a href="/Project/DeleteProject/@project.Id" class="btn btn-danger">Kaldır</a></td>
                </tr>
            }
        </tbody>
    </table>
    <a href="/Project/CreateProject" class="btn btn-primary">Yeni Proje Ekle</a>
</div>
